


<div class="ui grid">
  <div class="two wide column"></div>
  <div class="eight wide column">

<div class="ui container">
<br>
<h1>Editing Task</h1>

<%= render 'form', task: @task %>
</div>
<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>

  </div>

</div>