<div class="column">
  <div class="ui segment">
    <h4 class="ui horizontal divider header">
      <i class="checkmark box icon"></i>
      Task Management
    </h4>
    <p>Let's turn you into an efficiency aficionado by prioritizing and completing your assigned tasks</p>
    <h4 class="ui horizontal divider header">
      <i class="edit icon"></i>
      Assigned Tasks
    </h4>
    <table class="ui definition table">
      <tbody>
      <tr>
        <td class="two wide column">Title</td>
        <td>Homework</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>blah blah blah blah</td>
      </tr>
      <tr>
        <td>Priority</td>
        <td>6/10</td>
      </tr>
      <tr>
        <td>Due date</td>
        <td>Anytime </td>
      </tr>
      </tbody>
    </table>
    <div>
    </div>
  </div>
</div>