<div class="ui main text container">
<h1>Contact</h1>
<div class="description">
  <p>The fastest way to reach us is through the feedback form. It takes just one minute to fill out and you'll have a chance to leave
  a personal message at the end. You can also reach out to us directly regarding Swiftly with this <a href="mailto:development@swiftlabs.space?Subject=Hello%20there" target="_top">Email Link</a>. </p>
</div>
  <br />
<a class="ui large basic purple button" href="https://frederick16.typeform.com/to/eWgfXD" data-mode="2" target="_blank">Leave Feedback... </a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
  </div>
