<!-- ##/// Footer ///## -->
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h5 class="ui inverted header">Action Links</h5>
          <div class="ui inverted link list">
            <a href="#" class="item">One</a>
            <a href="#" class="item">Two</a>
            <a href="#" class="item">Three</a>
          </div>
        </div>
        <div class="three wide column">
          <h5 class="ui inverted header">Group 2</h5>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Created by: Frederick John</h4>
          <div class="ui inverted link list">
            <a href="https://www.linkedin.com/in/frederick-john-444151104" target="_blank">
            <button class="tiny ui linkedin button" id="socialink">
              <i class="linkedin icon"></i>
             LinkedIn
            </button></a>
            <a href="https://www.youtube.com/channel/UCV9peDAcHi2WOSEkghABzJw" target="_blank">
            <button class="tiny ui youtube button" id="socialink">
              <i class="youtube icon"></i>
              YouTube
            </button></a>
            <a href="https://twitter.com/FiatCrisis" target="_blank">
            <button class="tiny ui twitter button" id="socialink">
              <i class="twitter icon"></i>
              Twitter
            </button></a>
          </div>
        </div>
        <div class="seven wide column">
          <h5 class="ui inverted header">Swiftlabs Inc.</h5>
          <p>Brought to you by the creator Fierce Momentum™</p>
          <p>Made with ♥ in Philadelphia</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <%=image_tag 'check-mark.png', class: "ui centered mini image"%>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="mailto:swiftlabs.space">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
